/**{{#description}}
 * {{{description}}}{{/description}}
 * Values:{{#allowableValues}}{{#enumVars}}
 *     {{&name}},{{/enumVars}}{{/allowableValues}}
 */
@JsonClass(generateAdapter = false)
enum class {{classname}}(val value: {{dataType}}) {
{{#allowableValues}}{{#enumVars}}    @Json(name = {{{value}}}) {{&name}}({{{value}}}),
{{/enumVars}}{{/allowableValues}}}